NODE_ENV=production
PORT=3019
SERVICE_NAME=travel-service
MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/malabarbazaar
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_SECRET=your-jwt-secret
LOG_LEVEL=info
