NODE_ENV=production
PORT=3035
SERVICE_NAME=analytics-service
MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/malabarbazaar
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_SECRET=your-jwt-secret
LOG_LEVEL=info
